* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.root{
  --text-color: white;
  --bg-url: url(../assets/bg-mobile.jpg);
  --stroke-color: rgb(122, 121, 121, 0.5);
  --surface-color: rgba(122, 122, 255, 0.05);
  --surface-color-hover: rgba(122, 122, 255, 0.02)
  --highlight-color: rgba(122, 122, 122, 0.2)
  --switch-bg-url: url(../assets/moon-stars.svg)
}

.ligh {
  --text-color: black;
  --bg-url: url(../assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../assets/sun.svg);

}
body {
  background: url(../img/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 100%;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#perfil {
  text-align: center;
  padding: 24px;
}
#perfil img {
  width: 112px;
  border-radius: 999px;
}

#perfil p {
  font-weight: 500px;
  line-height: 24px;
  color: #ffff;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.2s;
}
ul li a:hover {
  background: rgba(255, 255, 255, 0.02);
  border: 1.5px solid #ffffff;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white url(../img/moon-stars.svg) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-out 0.2s;
}

#switch button:hover{
  outline: 8px solid rgba(74, 78, 78, 0.5);
}

#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(58, 44, 58, 0.5);
  border: 1px solid rgb(122, 121, 121);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

}
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  
}
#social-links a:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  transition: background 0.2s;
}

footer {
  padding: 24px 0;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  
}
