<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&family=Roboto:wght@400;500;700&display=swap"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEV LINKS</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="container">
      <div id="perfil">
        <img src="../img/lauray.jpg" alt="" srcset="" />

        <p>@lauracardoso</p>
      </div>

      <div id="switch">
        <button></button>
        <span></span>
      </div>

      <ul>
        <li>
          <a href="#" target="_blank">Inscreva-se no NLW</a>
        </li>
        <li>
          <a href="#" target="_blank">Baixar meu Ebook</a>
        </li>
        <li>
          <a href="http://github.com/LauraCardosoy" target="_blank"
            >Ver meu GuitHub</a
          >
        </li>
        <li>
          <a
            href="https://rocketseat.com.br/lauracardosoy-1663541321993"
            target="_blank"
            >Perfil da Rocketseat</a
          >
        </li>
      </ul>

      <div id="social-links">
        <a href="https://github.com/LauraCardosoy" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>

        <a href="#" target="_blank">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
        <a href="https://linkdin.com/laura-cardoso-33a6381b3/" target="_blank">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a href="#" target="_blank">
          <ion-icon name="logo-instagram"></ion-icon>
        </a>
      </div>
        <footer>
          Feito com ♥ pela
        <a href="http://rocketseat.com" target="_blank">Rocketseat<a>
        </footer> 
        <script 
        type="module" 
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
      </script>
      <script
       nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
      </script>
    </div>
  </body>
</html>
