<!DOCTYPE html>
<html lang="en" class="light">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&family=Roboto:wght@400;500;700&display=swap"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEV LINKS</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="container">

      <div id="perfil">
        <img src="../img/avatar.png" alt="" srcset="">

        <p>Mayke Brito</p>
      </div>
    </div>
  </body>
</html>
